<div class="container">
  <div class="card-body">
    <form [formGroup]="registrationForm" (submit)="SaveRegistration()">
      <div class="row space">
        <div class="col-8">
          <div class="form-group">
            <label class="form-control-label">Country List</label>
            <app-country-list (formReady)="formInitialized('countrydata', $event)"></app-country-list>    
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label class="form-control-label">Name</label>
            <input type="text" class="form-control" formControlName="RegisterName">
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label class="form-control-label">Email</label>
            <input type="text" class="form-control" formControlName="RegisterEmail">
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label class="form-control-label">Mobile No</label>
            <input type="text" class="form-control" formControlName="RegisterMobile">
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label class="form-control-label">Description</label>
            <input type="text" class="form-control" formControlName="RegisterDescription">
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="form-group">
            <label class="form-control-label">Date</label>
            <input type="text" bsDatepicker class="form-control" formControlName="Speaker_Priority"
              value="{{speakerForm.controls[Speaker_Priority].value | date:'dd-MM-yy'}}">
          </div>
        </div> -->
        <div class="col-8">
          <div class="form-group">
            <label class="form-control-label">Status</label>
            <select class="hideLabel form-control" formControlName="Status">
              <option *ngFor="let ac of ActiveStatus" value="{{ac.Status}}" selected="{{ac.Status == Status}}">
                {{ ac.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-8">
          <input type="submit" class="addbtn" value="Save" />
          <a routerLink="/registration" class="cancelbtn">Cancel</a>
        </div>
      </div>
    </form>
  </div>
  <pre>
    {{registrationForm.value| json}}
  </pre>
</div>