<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-toggler-icon leftmenutrigger"></span>
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav animate side-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/speakers" title="Cart"><i class="fas fa-cart-plus"></i> Cart <i
              class="fas fa-cart-plus shortmenu animate"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/country" title="Comment"><i class="fas fa-comment"></i> Comment <i
              class="fas fa-comment shortmenu animate"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-user"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-key"></i> Logout</a>
        </li>
      </ul>
    </div>
  </nav>  
  <router-outlet></router-outlet>
</div>